{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container display-table">
  <div class="row display-table-row">
    <div
      class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box"
      id="navigation"
    >
      <div class="logo">
        <a href="{% url 'home' %}">
          <img
            src="{{user_roles.photo.url}}"
            alt="merkery_logo"
            class="visible-xs visible-sm circle-logo"
          />
        </a>
      </div>
      <div class="navi">
        <ul>
          <li class="active">
            <a href="#"
              ><i class="fas fa-home" aria-hidden="true"></i
              ><span class="hidden-xs hidden-sm">Home</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-tasks" aria-hidden="true"></i
              ><span class="hidden-xs hidden-sm">Workflow</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-chart-bar" aria-hidden="true"></i
              ><span class="hidden-xs hidden-sm">Statistics</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-user" aria-hidden="true"></i
              ><span class="hidden-xs hidden-sm">Calender</span></a
            >
          </li>
          {% if "Admin" in user_roles.role.role %}
          <li>
            <a href="#"
              ><i class="fas fa-calendar" aria-hidden="true"></i
              ><span class="hidden-xs hidden-sm">Users</span></a
            >
          </li>
          {% endif %}
          <li>
            <a href="#"
              ><i class="fas fa-cog" aria-hidden="true"></i
              ><span class="hidden-xs hidden-sm">Setting</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-sm-11 display-table-cell v-align">
      <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
      <div class="row">
        <header>
          <div class="col-md-7">
            <nav class="navbar-default pull-left">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="offcanvas"
                  data-target="#side-menu"
                  aria-expanded="false"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            </nav>
            <div class="search hidden-xs hidden-sm">
              <input type="text" placeholder="Search" id="search" />
            </div>
          </div>
          <div class="col-md-5">
            <div class="header-rightside">
              <ul class="list-inline header-top pull-right">
                {% if "Admin" in user_roles.role.role %}
                <li class="hidden-xs">
                  <a
                    href="#"
                    class="add-project"
                    data-toggle="modal"
                    data-target="#add_project"
                    >Add Project</a
                  >
                </li>
                {% endif %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    ><img src="{{user_roles.photo.url}}" alt="user" />
                    <b class="caret"></b
                  ></a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="navbar-content">
                        <span>{{user_roles.username}}</span>
                        <p class="text-muted small">{{user.email}}</p>
                        <div class="divider"></div>
                        <a href="{% url 'profile' %}" class="view btn-sm active"
                          >View Profile</a
                        >
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </header>
      </div>
      <div class="user-dashboard">
        <h1>Hello, {{user_roles.role}}</h1>
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12 gutter">
            <div class="sales">
              <h2>Your Sale</h2>

              <div class="btn-group">
                <button
                  class="btn btn-secondary btn-lg dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Period:</span> Last Year
                </button>
                <div class="dropdown-menu">
                  <a href="#">2012</a>
                  <a href="#">2014</a>
                  <a href="#">2015</a>
                  <a href="#">2016</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-12 gutter">
            <div class="sales report">
              <h2>Report</h2>
              <div class="btn-group">
                <button
                  class="btn btn-secondary btn-lg dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Period:</span> Last Year
                </button>
                <div class="dropdown-menu">
                  <a href="#">2012</a>
                  <a href="#">2014</a>
                  <a href="#">2015</a>
                  <a href="#">2016</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="add_project" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header login-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Add Project</h4>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Project Title" name="name" />
        <input type="text" placeholder="Post of Post" name="mail" />
        <input type="text" placeholder="Author" name="passsword" />
        <textarea placeholder="Desicrption"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel" data-dismiss="modal">Close</button>
        <button type="button" class="add-project" data-dismiss="modal">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
